.brand{
    background-color: rgb(245, 245, 245);
    padding: 3rem 0;
    text-align: center;
    svg{
        width:100px;
    }
    h1{
        font-size: 2rem;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        color:steelblue;
    }
}